.color {

	background-color: #05028b;
	color: #ffffff;
	border:0;
	border-top: 0;
}

.active {

	background-color: rgb(172, 19, 9);
	color: #ffffff;

}

.menu:hover {

	color: rgb(172, 19, 9);
	font-size: 15px;

}

.colorNav {

	background-color:rgb(155, 156, 158) ;

}
.btn-ttc:hover {

	color: #ffffff;

}

.center {

	text-align: center;

}

.izquierda {

	text-align: left;

}

.navbar-default{

	background-color: #faa903;
	color: #ffffff;
}

#logo {

	margin-top: 1%;
	margin-bottom: 1%;
	width: 200px;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.botonesCentrados {

	text-align: center;
	margin-top: 5%;

}

#combo {

	width: 150px;

}

.alinear {

	text-align: left;
	margin-top: 5px;
	margin-left: 7px;

}

.navmargen {

	margin-left: 50px;

}

.especificos {

	background-color: #DFD6D6;
	height: 225px;

}

.centra{

	text-align:center;
}

.criterio {

	margin-top: 2%;

}

#color_detCamp
{

	background-color:#DFD6D6;
	/*top:20%;*/


}

.derecha {

	text-align: right;

}


.tituTab
{
	background: grey;
	color: white;
}



.foto
{
	width: 300px;
	height :300px;
	position: relative;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.activo{
	background-color:rgb(195, 6, 6);
}

.navColor{
	color: rgb(247, 246, 239);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
